<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tce.oa.modular.reimburse.dao.ReimburseConsumeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tce.oa.modular.reimburse.model.ReimburseConsume">
        <id column="id" property="id" />
        <result column="reimburseno" property="reimburseno" />
        <result column="deptid" property="deptid" />
        <result column="location" property="location" />
        <result column="totalfee" property="totalfee" />
        <result column="upperfee" property="upperfee" />
        <result column="applycash" property="applycash" />
        <result column="adjustcash" property="adjustcash" />
        <result column="state" property="state" />
        <result column="userid" property="userid" />
        <result column="processId" property="processId" />
        <result column="assignee" property="assignee" />
        <result column="leadernote" property="leadernote" />
        <result column="leadertime" property="leadertime" />
        <result column="cashernote" property="cashernote" />
        <result column="cashertime" property="cashertime" />
        <result column="deputynote" property="deputynote" />
        <result column="deputytime" property="deputytime" />
        <result column="managernote" property="managernote" />
        <result column="managertime" property="managertime" />
        <result column="createtime" property="createtime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, reimburseno, location, deptid, totalfee, upperfee, applycash, adjustcash, state, userid, processId, leadernote, leadertime,
        cashernote, cashertime, deputynote, deputytime, managernote, managertime, createtime, assignee
    </sql>

    <select id="getReimburseConsumes" resultType="map">
        select id, reimburseno, userid, location, deptid, totalfee, createtime, state from biz_reimburse_consume where 1 = 1
        <if test="beginTime != null and beginTime !='' and endTime != null and endTime != ''">
            and (createTime between CONCAT(#{beginTime},' 00:00:00') and CONCAT(#{endTime},' 23:59:59'))
        </if>
        <if test="deptid != null and deptid !=''">
            and deptid = #{deptid}
        </if>
        <if test="state != null and state !=''">
            and state = #{state}
        </if>
        <if test="ids != null">
            and userid in
            <foreach collection="ids" item="userid" open="(" close=")" separator=",">
                #{userid}
            </foreach>
        </if>
        order by createtime DESC
    </select>
</mapper>
