@layout("/common/_container.html"){
<div class="container-fluid" style="padding: 0 !important;">
	<div class="row">
		<div class="col-sm-12">
			@for(notice in noticeList){
				<div class="alert alert-success alert-dismissable">
					<button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
					${notice.content}
				</div>
			@}
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>审批消息提示</h5>
				</div>
				<div class="ibox-content text-center">
					<div class="tooltip-demo">
						流程待审批条数: ${task} 条
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
@}
